<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TB.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5B5FC2BE1BEC413900E9A395</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B5FC2D71BEC413900E9A395</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B5FC2E21BEC413900E9A395</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
